/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    /*background-image: url("https://images5.alphacoders.com/876/thumb-1920-876590.png");*/
    background-color: rgb(165, 224, 241);
}