/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-image: url("https://cdn.wallpapersafari.com/49/61/DSU9VK.png");
}